.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .feature-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    color: #424242;
    background: white;
    width: 190px;
    height: 200px;
    padding: 10px 15px 10px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .2s ease-in-out; 
  }
  
  .feature-card:hover { 
    transform: scale(1.1); 
  }
  
  .feature-card__bought {
    box-shadow: #22B92E 0px 0px 8px 0px;
  }
  
  .feature-title {
    font-weight: 900;
    line-height: 26px;
    font-size: 24px;
  }
  
  .feature-title__hovering {
    font-weight: 900;
    line-height: 22px;
    font-size: 20px;
  }
  
  .feature-description {
    line-height: 14px;
    font-size: 14px;
    padding: 10px 0px;
    color: gray;
  }
  
  .feature-price {
    font-size: 20px;
  }
  
  .feature-price__hovering {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
  }
  
  .feature-buy-button {
      background-color: #424242;
      border-radius:50px;
      cursor: pointer;
      color: white;
      font-size: 12px;
      padding: 5px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .feature-buy-button:hover {
      background-color: #009688;
  }
  
  .feature-buy-button:active {
      background-color: #22B92E;
  }
  