.purchase-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-button {
    background-color: #424242;
    border-radius:50px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

.purchase-button:hover {
	background-color: #009688;
}

.purchase-button:active {
	background-color: #22B92E;
}

.purchase-header-container {
    display: flex;
    justify-content: space-between;
}

.purchase-value {
    width: 100%;
}