@import url('https://fonts.googleapis.com/css?family=Poppins');

.thin-auth {

  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;

  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 60px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.thin-auth-icon-container {
  display: none;
}

.thin-auth-box h1 {
  font-size: 0; 
}

/* .thin-auth-box p {
  font-size: 0; 
} */

.thin-auth-box h1::after {
  content: "BEM VINDO";
  font-size: 30px !important;
}

#sessions-new > div > div > div.mx-auto.mt-5.p-5.shadow-lg.rounded > p.text-center {
  content: "Faça login para acessar a área de Admin";
  font-size: 16px !important;
}

/* .thin-auth-box p::after {
  content: "Esqueceu sua senha?";
  font-size: 16px !important;
} */

.thin-auth-description {
  padding: 15px;
  font-size: 0; /*Esconder texto original*/
}

.thin-auth-description::after {
  content: "Faça login para acessar a área de Admin";
  font-size: 16px !important;
  
}


body {
  background-color: #F5F5F5;
  color: #424242;
}

.App {
  text-align: center;
}

.hidden {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #424242;
}

.App-link {
  color: #22B92E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



