@import url('https://fonts.googleapis.com/css?family=Poppins');

.thin-auth {

  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  color: #fff;

  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 60px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.thin-auth-form-group {
  font-size: 16px;
  padding: 3px;
  margin-bottom: 5px;
}

.thin-auth-form-group::before {

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #218d2a);
  background: -o-linear-gradient(to left, #21d4fd, #218d2a);
  background: -moz-linear-gradient(to left, #21d4fd, #218d2a);
  background: linear-gradient(to left, #21d4fd, #218d2a);
}

.thin-auth-icon-container {
  display: none;
}

.thin-auth-box h1 {
  font-size: 0; 
}

.thin-auth-box p {
  font-size: 0; 
}


.thin-auth-box h1::after {
  content: "BEM-VINDO";
  font-size: 30px !important;
}

.thin-auth-box button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 40px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #218d2a);
  background: -o-linear-gradient(to left, #21d4fd, #218d2a);
  background: -moz-linear-gradient(to left, #21d4fd, #218d2a);
  background: linear-gradient(to left, #21d4fd, #218d2a);
}

.thin-auth-box button:hover {
  cursor: pointer;
}

/* .thin-auth-box p::after {
  content: "Esqueceu sua senha?";
  font-size: 16px !important;
} */

.thin-auth-description {
  padding: 15px;
  font-size: 0; /*Esconder texto original*/
}

.thin-auth-description::after {
  content: "Acesso restrito.  Faça login !!!";
  font-size: 16px !important;
  
}

.thin-auth-built-with{
  display: none;
}

/* .thin-auth-signup{
  display: none;
} */

body {
  background-color: #F5F5F5;
  color: #424242;
}

.App {
  text-align: center;
}

.hidden {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #424242;
}

.App-link {
  color: #22B92E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



